{% extends "base.html" %}
{% block content %}
  <div class="container">
    <a href="{{ url_for('logout') }}">Logout</a>
    <div class="row">
      <h1>Trip Home Page</h1>
      <div class= "section">
        <a href="{{ url_for('create_trip') }}">Add a Trip</a>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h3>Here's the trip information</h3>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="triptitle">Trip Title</th>
              <th data-field="destination">Destination</th>

            </tr>
          </thead>
          {% for trip in trips %}
            <tr>
              <td>{{ trip['triptitle'] }}</td>
              <td>{{ trip['destination'] }}</td>
              <td><a href="/remove_trip/{{ trip['trip_id']}}">Remove Trip</a></td> 
            </tr>
          {% endfor %}
        </table>
      </div>
  </div>
{% endblock %}
