<!-- DELETE THIS PART FOR NUM. 2 -->
{% extends "base.html" %}
<!-- DELETE THIS PART FOR NUM. 2 -->

{% block title %}
	Login
{% endblock %}

<!-- DELETE THIS PART FOR NUM. 2 -->
{% block content %}
<!-- DELETE THIS PART FOR NUM. 2 -->
	<div class="main-container">
		<h3>Sign Up</h3>
		<form action="signup" method='post'>
		<!-- DELETE THIS PART FOR NUM. 2 -->
			<label class="survey-item">Enter Your Username
			<input type="text" name="username"></label>
			<label class="survey-item">Enter Your Password
			<input type="text" name="password">
			</label>
		<!-- DELETE THIS PART FOR NUM. 2 -->
			<input class="action-button" id="signup" type="submit" value="Sign Up">
		</form>
	</div>

<!-- DELETE THIS PART FOR NUM. 2 -->
{% endblock %}
<!-- DELETE THIS PART FOR NUM. 2 -->